<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304036715641-ssdb4hmkm1frjmcudvf83kf20fla6loi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304036715641-ssdb4hmkm1frjmcudvf83kf20fla6loi</string>
	<key>API_KEY</key>
	<string>AIzaSyAopL_75vfX7lURbKC3TKJm8glHTWpUTsE</string>
	<key>GCM_SENDER_ID</key>
	<string>304036715641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CapitalIdeas</string>
	<key>PROJECT_ID</key>
	<string>capitalideas-ae886</string>
	<key>STORAGE_BUCKET</key>
	<string>capitalideas-ae886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304036715641:ios:9e16156cfb10c116b548a8</string>
</dict>
</plist>